*{
    box-sizing: border-box;
    margin: 0;
}
.header{
    height: 650px;
}
.header img{
    width: 100%;
    height: 650px;
}
.text{
    text-align: center;
    font-size: x-large;
}

.text p{
    color: orangered;
    word-spacing: 4px;
}
.text h2{
    margin-top: -360px;
    color: orangered;
}
.text .web{
    color: orange;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .navbar a {
    font-family: 'Oswald', sans-serif;
    float: right;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  .navbar a:hover{
    background-color: orange;
    color: white;
  }
  .navbar p{
    font-family: 'Outfit', sans-serif;
    float: left;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 0.8px;
  }
  .navbar .abosido{
      color: orange;
  }
  .navbar p::first-letter{
      border: white 2px solid;
      background-color: gray;
      text-shadow: 2px -1px rgb(219, 228, 219);
      padding: 3px 3px;
      margin-right: 3px;
  }
  .row1{
      display: flex;
      background-color: rgb(255, 255, 255);
  }
  .row1 .col1{
      display: flexbox;
      width: 50%;
      margin: 130px 45px;
  }
    .row1 .col1 h1{
    color: rgb(230, 151, 5);
    font-family: 'Noto Sans', sans-serif;
}
    .row1 .col1 p{
    color: gray;
    line-height: 27px;
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    
}
.row1 .col2{
    display: flexbox;
    width: 50%;
}
.row2{
    background-color: rgb(241, 239, 239);
    display: flex;
}

.row2 .col1{
    display: flexbox;
    margin: 130px 45px;
}
.row2 .col1 h1{
    color: rgb(230, 151, 5);
    font-family: 'Noto Sans', sans-serif;

}
.row2 .col1 p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.774);
}
.button{
    padding: 8px 16px;
    color:#10b361;
    border: 2.9px solid #10b361;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;  
}
.button:hover{
    background-color: #10b361;
    color: lightgoldenrodyellow;
}
.row2 .col2{
    flex: 50%;
    margin:130px 45px;
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

.row2 .col2 .container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 550px;
    height: 70px;
    margin-top: 10px;
}
.container .HTML{
    font-size:22px;
    font-weight: bold;
    padding: 20px;
    margin-right:39px ;

}
.container .CSS{
    font-size:22px;
    font-weight: bold;
    padding: 30px;
    margin-right:24px ;
}
.container .JS {
    font-size:22px;
    font-weight: bold;
    padding: 10px;
}

.container .tape{
    flex: 70%;
    margin-right: 300px;
    height: 50px;
    width: 250px;
}

.covAni {
    background-color: #eee;
    width: 400px;
    height: 40px;
    margin-top: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}

.progressHtml{
    width: 0;
    height: 100%;
    background-color: orange;
    opacity: 0;
    transition: 4s ease;
}
.progressCss{
    width: 0;
    height: 100%;
    background-color: orange;
    opacity: 0;
    transition: 4s ease;

}
.progressJS{
    width: 0;
    height: 100%;
    background-color: orange;
    opacity: 0;
    transition: 4s ease;

}

.row3{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 640px;
    margin-left: 20px;
    margin-top: 35px;
}
.row3 .pro_text .line{
    height: 5px;
    width: 100px;
    background-color: rgb(228, 149, 3);
    margin-left: 617px;
    margin-top: 5px;
    margin-bottom: 17px;
}
.row3 .na{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 96%;
    height: 525px;
    
}
.row3 .na img{
    border-style: ridge;
    width: 100%;
    height: 100%;
    
}
.pro_text h1{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
    display: flex;
    color: rgb(228, 149, 3);
    align-items: center;
    flex-direction: column;
}
.top {
    display: inline-block;
    width: 31%;
}
.top img{
    width: 100%;
}
.cont {
    position: relative;
    width: 30%;
    display: flex;
    margin-bottom: 2em;
  }
  
  .top {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: orange;
  }
  
  .cont:hover .overlay {
    opacity: 0.8;
  }
  
  .overlay .text {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
    text-align: center;
    padding-top: 110px;
    
  }
    .row4{
        background-color: rgb(241, 239, 239);
        padding-top: 20PX;
        margin-top: -14px;
    }
    .row4 .container{
        background-color: rgb(241, 239, 239);
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(164 11 131);
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-around;

        
    }
    .row4 .container .col1{
        width: 30%;
        height: 300px;
        margin: 15px;
        box-sizing: border-box;
        text-align: center;
        line-height: 45px; 
    }
    .row4 .container p{
        line-height: 16px;
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(19, 18, 18);
        width: 325px;
        margin-left: 52px;
        margin-top: 7px;
    }
    .row4 .container .col2{
        width: 30%;
        height: 300px;
        margin: 15px;
        box-sizing: border-box;
        text-align: center;
        line-height: 43px;


     }
     .row4 .container .col3{
        width: 30%;
        height: 300px;
        margin: 15px;
        box-sizing: border-box;
        text-align: center;
        line-height: 43px;

    }
    .row4 .container  img{
        width: 125px;
        opacity: 0.67;
    }
    .row4 .container  img:hover{
        opacity: 1;

    }
    
    .row4 .cus_text .line{
        height: 5px;
        width: 100px;
        background-color: rgb(228, 149, 3);
        margin-left: 629px;
        margin-top: 5px;
        margin-bottom: 17px;
    }
    .row4 .cus_text h1{
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        margin-top: 50px;
        display: flex;
        color: rgb(228, 149, 3);
        align-items: center;
        flex-direction: column;
    }
    .row5{
        background-image: url('map3.jpg');
        height: 630px;
        background-size: cover;
    }
    .row5 .con_text .line{
        height: 5px;
        width: 100px;
        background-color: rgb(228, 149, 3);
        margin-left: 629px;
        margin-top: 5px;
        margin-bottom: 17px;
    }
    .row5 .con_text h1{
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        margin-top: 60px;
        display: flex;
        color: rgb(228, 149, 3);
        align-items: center;
        flex-direction: column;
    }
    .form{
        display: flex;
        margin-top: 230px;
        margin-left: 276px; 
    }
    .form .col1{
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: space-between;
    }
    .form .col2{
        display: flex;
        width: 50%;
    }
    .form .col1 input{
        background-color: rgb(221, 219, 219);
        border: 1px;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .form .col1 button{
        background-color: rgb(228, 149, 4);
        color: white;
        height: 40px;
        margin-right: 10px;
        border: 1px;
        margin-top: 10px;
    }
    .form .col2 textarea{
        background-color: rgb(221, 219, 219);
        padding: 10px;
    }
    .footer{
        background-color: rgb(34, 34, 34);
        height: 200px;
        text-align: center;
    }
    .footer .content p{
        padding-top: 66px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 17px;
        color: white;
    }
    .footer .content img{
        padding-top: 30px;  
    }
    .to-top{
       position: fixed;
       bottom: 10px;
       right: 10px;
       border: 1px solid black;
       background-color: black;
       color: white;
       padding: 15px 8px;
       border-radius: 15px;
       z-index: 3; 
    }




    